.card{
    width: 600px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#imagem > img {
    width:100px;
    height: auto;
}

#titulo{
    font-weight: bolder;
}

#desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}