.container{
    width: 96vw;
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10vh 35vh 35vh 10vh;
}


.header{
    background-color: orangered;
    grid-row: 1/2;
    grid-column: 1/4;
}

.sidebar{
    background-color: blueviolet;
    grid-row: 2/4;
    grid-column: 1/2;
}

.contenti{
    background-color: crimson;
    grid-row: 2/3;
    grid-column: 2/4;
}

.contentii{
    background-color: cadetblue;
    grid-row: 3/4;
    grid-column: 2/3;
}

.contentiii{
    background-color: darkorchid;
    grid-row: 3/4;
    grid-column: 3/4;
}

.footer{
    background-color: green;
    grid-row: 4/5;
    grid-column: 1/4;
}